@import url('https://fonts.googleapis.com/css?family=Monoton&display=swap');
@import url('https://fonts.googleapis.com/css?family=Dancing+Script&display=swap');
body {
  background-color: whitesmoke;
  font-family: 'Monoton', cursive;
  color:gray;
  text-align:center;}
ul{
  list-style-type: rectangular;
  color: black;
  text-align: center;
  }
  
h1,h2{
font-family:'Dancing Script', cursive;
  font-size: 35px;
  color: #87CEFA;
}

h3{
  font-family: 'Monoton',cursive;
  font-size: 30px;
  color: #87CEFA;
  }
  
h4  {
  font-family: 'Dancing Script', cursive;
  font-size: 20px;
  color: black;
  }
  
p{
  color:#4169E1;
  font-family: 'Dancing Script', cursive;
  }
  
li{
  color:#4169E1;
  font-family: 'Dancing Script', cursive;
  }
  
body,h1,h2,h3,h4,p {
  text-align:center;
  margin-left: 0.2%;
  }
  
img {
  vertical-align: middle;
  max-width: 100%;
  }

  
nav {
  text-align:center;
  width: 100%;
  border: 1px solid #ccc;
  border-width: 1px 0;
  list-style: none;
  margin: 0;
  padding: 0;
  background-color:linen;
  }
  
nav li{
  display: inline;
  font-size: x-large;
  }
  
nav a {
  display: inline-block;
  color:#4682B4;
  font-family:  'Dancing Script', cursive;
  padding: 10px;
  }
  
.hello li {
  display: inline;
}

.hello a {
  display: inline-block;
  padding: 5px;
  text-decoration: none;
}

